body
{
    background-color: #02a95b;
    font-family: 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white;
}
a{
    color:white;
}
.text-green
{
    color: #02a95b;
}
.text-black
{
    color:black;
}
.text-bold
{
    font-weight: bold;
}
hr
{
    border-top:1px solid rgba(65, 65, 65, 0.49);
}
.placeholder
{
    height:70px;
    margin:0;
}
.block
{
    background-color: rgb(2, 125, 62);
    margin-bottom:20px;
    padding-bottom:10px;
}
.block li
{
    margin-bottom:10px;
}
#slider
{
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    overflow: hidden;
    background-color: rgba(247, 247, 247, 0.74);
}
.carousel-inner div img
{
    max-width:1000px;
    margin:0 auto;
    /*min-height:1000px;*/
}
th,
td
{
    text-align:center;
    vertical-align:middle;
}
.navbar-default
{
    background-color: white;
    /*border-bottom: 2px solid black;*/
}
