body
{
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}
hr
{
    border-top:1px solid rgba(65, 65, 65, 0.49);
}
.placeholder
{
    height:70px;
    margin:0;
}
.block
{
    background-color: rgba(247, 247, 247, 0.74);
    margin-bottom:20px;
}
.block li
{
    margin-bottom:10px;
}
