<nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">育苗支教</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">

                <li class="dropdown" data-set-class="active">
                    <!-- TODO : in this way to set the active navbar item !-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="关于我们/组织概况.html">组织概况</a></li>
                        <li><a href="关于我们/职能及发展目标.html">职能及发展目标</a></li>
                        <li><a href="关于我们/支教模式.html">支教模式</a></li>
                        <li><a href="关于我们/组织机构.html">组织机构</a></li>
                        <li><a href="关于我们/规章制度.html">规章制度</a></li>
                        <li><a href="关于我们/大事年表.html">大事年表</a></li>
                        <li><a href="关于我们/工作日历.html">工作日历</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">历届成员<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="管理层/2012届管理层.html">2012届管理层</a></li>
                        <li><a href="管理层/2013届管理层.html">2013届管理层</a></li>
                        <li><a href="管理层/2014届管理层.html">2014届管理层</a></li>
                        <li><a href="管理层/2015届管理层.html">2015届管理层</a></li>
                        <li><a href="管理层/2016届管理层.html">2016届管理层</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">支教队伍<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="支教队伍/2012年支教队.html">2012年支教队</a></li>
                        <li><a href="支教队伍/2013年支教队.html">2013年支教队</a></li>
                        <li><a href="支教队伍/2014年支教队.html">2014年支教队</a></li>
                        <li><a href="支教队伍/2015年支教队.html">2015年支教队</a></li>
                        <li><a href="支教队伍/2016年支教队.html">2016年支教队</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">安全纪律<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="安全和协议/安全预案.html">安全预案</a></li>
                        <li><a href="安全和协议/志愿者纪律守则.html">志愿者纪律守则</a></li>
                        <li><a href="安全和协议/暑期支教注意事项.html">暑期支教注意事项</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">志愿协议<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="安全和协议/育苗支教学生安全协议.html">育苗支教学生安全协议</a></li>
                        <li><a href="安全和协议/育苗支教志愿者协议.html">育苗支教志愿者协议</a></li>
                    </ul>
                </li>

                <li><a href="其他/公开文件.html">公开文件</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">微信平台<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>扫一扫关注育苗官方微信平台</li>
                        <li class="divider"></li>
                        <li><img src="img/logo.jpg" alt="扫一扫关注微信平台" width="200" height="200"></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="其他/苗苗爱你.html">苗苗爱你</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="placeholder"></div>